@{
    ViewData["Title"] = "Trabalhe Conosco!";
}

<div class="text-center">
    <h1 class="display-4">Trabalhe Conosco!</h1>
    <p>Se você souber usar o C# servirá para trabalhar conosco fazendo programa! Caso não saiba...</p>
    <p><a href="https://www.udemy.com/?utm_source=adwords&utm_medium=udemyads&utm_campaign=Generic_la.PT_cc.BR&utm_content=deal4584&utm_term=_._ag_118187737158_._ad_654185096612_._kw_curso%20net_._de_c_._dm__._pl__._ti_kwd-578864589_._li_1001773_._pd__._&matchtype=b&gad_source=1&gclid=CjwKCAjwkuqvBhAQEiwA65XxQDCBQxDWOq4QnEzrlxh-UcU7pI9O1O1_6v5muJTPjdlRGslCxCh9iRoC-CUQAvD_BwE" target="_blank">Aprenda aqui!</a></p>
</div>
