@{
    ViewData["Title"] = "Quem Somos?";
}

<div class="text-center">
<h1 class="display-4">Quem Somos?</h1>
    <p>Saiba mais sobre quem somos clicando <a href="https://github.com/GuilhermeTantulli" target="_blank">aqui!</a></p>
</div>