@{
    ViewData["Title"] = "About us!";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>Saiba mais sobre quem somos clicando <a href="https://github.com/GuilhermeTantulli" target="_blank">aqui!</a></p>
</div>
